---
import Layout from "./Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";

const { frontmatter } = Astro.props;
const title = frontmatter.title;
---

<body class="absolute top-0 z-[-2] h-full w-full bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
  <title>{title}</title>
  <Layout title={title} description={frontmatter.description}>
    <SectionContainer class="px-8">
      <article class="pt-16 pb-24 md:pb-40">
        <div class="flex flex-col md:px-8 lg:px-40 gap-4">
          <h1
            class="text-gray-800 text-3xl md:text-4xl font-semibold font-display"
          >
            {frontmatter.title}
          </h1>

          <p class="text-sm text-stone-400">
            Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}
          </p>
          <p class="text-lg text-violet-800">
            <em>{frontmatter.description}</em>
          </p>
          <p class="text-lg text-gray-800">Escrito por: {frontmatter.author}</p>
        </div>
        <div class="w-full h-full my-1 rounded-2xl overflow-hidden">
          <img
            class="object-cover object-center w-full rounded-2xl shadow-lg"
            src={frontmatter.image.url}
            width="300"
            alt={frontmatter.image.alt}
          />
        </div>
        <div class="mx-auto text-pretty mt-8 text-gray-800">
          <slot />
        </div>
      </article>
    </SectionContainer>
  </Layout>
</body>
<style is:global>
  @media (prefers-reduce-motion) {
    html {
      scroll-behavior: auto;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-image);
  }

  ::-webkit-scrollbar-corner {
    background: var(--background-image);
  }
</style>
